* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 100vh;
    width: 100vw; 
    gap:1rem;
}

.content{
    display: flex;
    gap: 0.9rem;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
}

button{
    width: auto;
    padding: 0.3rem;
}

input{
    outline: none;
    border: none;
}

